body{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    background-image: url("https://img.freepik.com/premium-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-78975.jpg?w=996");
    
}
#leftSide{
    
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
#form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#rightSide{
  
}
#bookInfo{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr .5fr;
    
 
}

.removeBtn{
    background-color: transparent;
    
}
.readBtn{
    background-color: ;
}