body{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    
}
#leftSide{
    background-color: rgb(228, 228, 187);
    display: flex;
    height:  100vw;
}
#rightSide{
    background-color: rgb(175, 118, 53);
    
}
#bookInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
#array{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}